.nb-footer{
  background: #1e275f;
  padding-bottom: 30px;
}
.nb-footer .footer-single{
  margin-top: 30px;
}
.nb-footer .footer-title{
    display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.nb-footer .footer-single a{
	text-decoration: none;
}

.nb-footer .footer-single h2{
  color: #eee;
  font-size: 18px;
  font-weight: 200;
  display: inline-block;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  margin-bottom: -2px;
}
.nb-footer .footer-single li{
      border-top: dashed 1px #797979;
}
.nb-footer .footer-single li:first-child{
  border-top: none;
}
.nb-footer .footer-single li a{
  color: #cccccc;
  font-size: 12px;
  padding: 6px 0px;
  display: block;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-single li a:hover{
  color: #fff;
}
.nb-footer .footer-single li a:hover i{
  color: #fff;
}
.nb-footer .dummy-logo {
    margin-top: 11px;
    padding-bottom: 9px;
}
.nb-footer .dummy-logo .icon {
    margin-right: 10px;
    border-radius: 20px;
    margin-top: 24px;
}
.nb-footer .brand {
    background: #007bff;
}
.nb-footer .dummy-logo i {
    font-size: 50px;
    color: #fff;
    padding: 5px;
}
.nb-footer .dummy-logo p {
    color: #999;
    font-size: 12px;
}
.nb-footer .dummy-logo h2 {
    font-size: 24px !important;
    border-bottom: none;
    color: #696969;
    padding: 5px 0;
}
.nb-footer .btn-footer{
  border: 1px solid #007bff;
  margin-top: 10px;
  color: #999;
}
.nb-footer .btn-footer:hover{
  background: #007bff;
  color: #fff;
  transition:all 0.4s ease-in-out;

}
.nb-footer .useful-links li a{
  text-transform: uppercase;
}
.nb-footer .footer-project a{
  font-size: 13px;
}
.nb-footer .footer-project img{
  margin-bottom: 20px;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 1px;
  opacity: 0.7;
  transition:all 0.4s ease-in-out;
}
.nb-footer .footer-project img:hover{
  opacity: 1.0;
  cursor: pointer;
}
.nb-footer .footer-project .footer-title{
  margin-top: 0;
}
.nb-footer .footer-single p, .footer-single address{
    color: #ccc;
  font-size: 14px;
  margin-top: 5px;
  line-height: 22px;
}
.nb-copyright{
  background: #151b40;
  padding-bottom: 10px;
}
 .nb-copyright .copyrt{
     margin-top: 30px;
    font-size: 12px;
    color: #fff;
}
.nb-copyright .copyrt a{
  color: #007bff;
}
.nb-copyright .footer-social{
	margin-top: 10px;
}
.nb-copyright .footer-social i{
      padding: 5px 8px;
    color: #fff;
    border: 1px solid #f5f5f5;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 4px;
  transition:all 0.4s ease-in-out;
}
.nb-copyright .footer-social i:hover{
  background: #313d85;
  color: #fff;
}
.nb-copyright .footer-social .fa-facebook{
  padding: 5px 10px;
}

.nb-footer .footer-title h4{
	color:#fff;
	
}

.footer-logo img {
    width: 100%;
    background: #fff;
    border-radius: 10px;
}

.footer-social li {
    color: #fff;
}

.list-inline.footer-social li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 5px;
}



.news-notice li{
	list-style: none;
	background: #fff;
}


#portfolio .portfolio-item{
	
	height: 350px;
}

#services .box {
    border: 0px solid;
    padding: 50px 20px;
    margin-bottom: 60px;
    text-align: center;
    height: 120px;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#services .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

#services {
    background: #fff;
    background-size: cover;
    padding: 40px 0 0px 0;
}

#portfolio {
    background: #fff;
    padding: 40px 0;
}

#portfolio #portfolio-wrapper {
    padding-right: 0;
    padding-top: 30px;
}

#portfolio .portfolio-item {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#portfolio .portfolio-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#portfolio .portfolio-item .details h4 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 8px 0 2px 8px;
    margin: 0;
    display: inline-block;
}

#portfolio .portfolio-item .details span {
    display: inline-block;
    color: #fff;
    font-size: 13px;
   padding-left: 20px;
}

#portfolio .portfolio-item .details{
	    background: rgba(49, 61, 133, 1);
}

.quick-view-btn{
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    border-radius: 30px;
    padding: 6px 20px;
    margin: 9px 0px 9px 20px;
    cursor: pointer;
    background: #007bff;
    font-weight: 600;
    text-align: center;
    border: solid 1px #007bff;
}

#Notice_News {
    padding: 80px 0;
    background: #f1f1f1;
}

@media(max-width: 767px){
	 .xs-center{
	text-align: center;
}
 .left-clear{
	padding-left: 0;
}
 .right-clear{
	padding-right: 0;
}
}
.numscroller{
	background-color:#F5F5F5;
	min-height:150px;
	min-width:150px;
	padding:4px;
	color:black;
	font-weight:bold;
}